body {
    background: #155d69;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  
h2 {
    color: #fff;
}
  
.login {
    padding: 30px;
    margin: 50px auto;
    width: 500px;
    background: #fff;
    border-radius: 3px;
}
  
label {
    font-size: 10pt;
    color: #555;
}  


  input[type="text"],
  input[type="email"],
  textarea {
    padding: 8px;
    width: 95%;
    background: #efefef;
    border: 0;
    font-size: 10pt;
    margin: 6px 0px;
}
  
.tombol {
    background: #00333b;
    color: #fff;
    border: 0;
    padding: 5px 8px;
}